.dashboard {
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
}

.settings, .profile, .logout {
    color: black;
    font-weight: 500;
    font-size: 20px;
    margin: 10px;
    margin-left: 30px;
    text-decoration: none;
    color: var(--theme-color);
}

.profile{
    margin-left: 40%;
}

.logout {
    margin-left: 40%;
}