.adminpage {
  width: 100%;
  display: flex;
}

.sidebar-content {
    background-color: #ffffff;
    border-radius: 20px;
    margin-left: 20px;
    display: flex;
    width: 15%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .lists{
    margin-left : -31px
  }

  .sidebar-content .list {
    list-style: none;
  }
  
  .list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 20px;
    text-decoration: none;
  }

  .nav-link img {
    margin-right: 10px;
    margin-left: 5px;
  }

  .lists .nav-link {
    transition: background-color 0.25s ease;
  }
  .lists .nav-link:hover {
    background-color: #ffd9c4;
  }
  
  .lists .nav-link:hover .link {
    color: rgb(0, 0, 0);
  }
  
  .nav-link .link {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
  }